<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164487510-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-164487510-1');
    </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  {% if page.title == "Home" %}
    <meta name="description" content="This is blog on Deep learning, machine learning and artificial intelligence written by Parikshit Patil. (PSKP-95)">
    <meta name="keywords" content="machine learning, ml, deep learning, artificial intelligence, nlp, natural language processing, neural network, ai, programming, high performance computing, hpc, algorithms, data structure, ds">
    <meta name="author" content="Parikshit Patil">
    <meta property="og:title" content="This is blog on Deep learning, machine learning and artificial intelligence written by Parikshit Patil. (PSKP-95)">
    <meta property="og:image" content="https://pskp-95.github.io/public/images/icon.png">
    <script src="https://kit.fontawesome.com/71b3820bf4.js" crossorigin="anonymous"></script>
  {% elsif page.title == "About" %}
    <meta name="description" content="{{ page.description}}">
    <meta name="twitter:description" content="{{ page.description}}">
    <meta name="keywords" content="{{ page.keywords}}">
    <meta name="author" content="{{ page.author}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:image" content="{{ page.thumbnail }}">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:image" content="{{ page.thumbnail }}">
    <link rel="stylesheet" href="/public/resume/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/public/resume/css/styles.css" rel="stylesheet" />
  {% else %}
    <meta name="description" content="{{ page.description}}">
    <meta name="keywords" content="{{ page.keywords}}">
    <meta name="author" content="{{ page.author}}">
    <meta property="og:title" content="{{page.title}}">
    <meta name="twitter:title" content="{{page.title}}">
    {% if page.thumbnail == "none" %}
    <meta property="og:image" content="https://github.com/PSKP-95.png">
    <meta name="twitter:image" content="https://github.com/PSKP-95.png">
    {% else %}
    <meta property="og:image" content="{{ page.thumbnail }}">
    <meta name="twitter:image" content="{{ page.thumbnail }}">
    {% endif %}
    <script src="https://kit.fontawesome.com/71b3820bf4.js" crossorigin="anonymous"></script>
  {% endif %}
  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://pskp-95.github.io/public/images/icon.png">
  <link rel="shortcut icon" href="https://pskp-95.github.io/public/images/icon.png">
  
  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  {% if page.title != "About" %}
  <link rel="stylesheet" href="{{ '/public/css/poole.css' | absolute_url }}">
  <!-- <link rel="stylesheet" href="{{ '/public/css/syntax.css' | absolute_url }}"> -->
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

  
  

  <script id="dsq-count-scr" src="//pskp-95-github-io.disqus.com/count.js" async></script>
  {% endif %}
</head>
